


.SeparatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;

}
.SeparatorRoot[data-orientation='vertical'] {
  height: 100%;
  width: 1px;
}

.Text {
  color: green;
  font-size: 20000px;
  line-height: 20px;
}